<html>
	<header>
		<title>Add New Customer - Customers Application</title>
	<header>
		{% include 'header.html' %}
		<h2>Add New Customer</h2>
   <body>
   <form action = "http://localhost:5000/addcustomerresults" method = "POST">
			<table>
				<tr>
					<td>ID<td><td><input type="text" name="cusId" value="{{ customer['cusId'] }}" /> (Required) </td>
				</tr>
				<tr>
					<td>Fist Name<td><td><input type="text" name="cusFname" value="{{ customer['cusFname'] }}" /> (Required) </td>
				</tr>
				<tr>
					<td>Last Name<td><td><input type="text" name="cusLname" value="{{ customer['cusLname'] }}" /> (Required) </td>
				</tr>
				<tr>
					<td>State<td><td><input type="text" name="cusState" value="{{ customer['cusState'] }}" /> </td>
				</tr>
				<tr>
					<td>Sales YTD<td><td><input type="text" name="cusSalesYTD" value="{{ customer['cusSalesYTD'] }}" /> </td>
				</tr>
				<tr>
					<td>Sales Prev<td><td><input type="text" name="cusSalesPrev" value="{{ customer['cusSalesPrev'] }}" /> </td>
				</tr>
			</table>
			<p><input type="submit" value="Add Customer" /> <input type="reset">
		</form>
      </form>
      {% include 'footer.html' %}
   </body>
</html>
