<html>
	<header>
		<title>Customers - Application</title>		
	<header>
	<body>
		{%include 'header.html'%}
		<h2>Find Customers</h2>
		Total number of records in the database: {{ totRec }}
		<form action = "/customers" method="POST">
			<table>
				<tr>
					<td>ID<td><td><input type="text" name="cusId" value="{{ customer['cusId'] }}" /> (equals)</td>
				</tr>
				<tr>
					<td>Fist Name<td><td><input type="text" name="cusFname" value="{{ customer['cusFname'] }}" /> (begins with)</td>
				</tr>
				<tr>
					<td>Last Name<td><td><input type="text" name="cusLname" value="{{ customer['cusLname'] }}" /> (begins with)</td>
				</tr>
				<tr>
					<td>State<td><td><input type="text" name="cusState" value="{{ customer['cusState'] }}" /> (equals)</td>
				</tr>
				<tr>
					<td>Sales YTD<td><td><input type="text" name="cusSalesYTD" value="{{ customer['cusSalesYTD'] }}" /> (greater than or equal to)</td>
				</tr>
				<tr>
					<td>Sales Prev<td><td><input type="text" name="cusSalesPrev" value="{{ customer['cusSalesPrev'] }}" /> (greater than or equal to)</td>
				</tr>
			</table>
			<p><input type="submit" value="Find" /> <input type="reset">
			<p>
			</p>
			<a href="/addcustomer"><h3>Add New Customer Contact</h3></a>
			
			
		</form>
		{% if source == 'post' %}
			{% if cusRecords[0:5] == 'Error' %}
				<h3>Error: </h3> {{ cusRecords }}
			{% else %}
				{% set numrecs = cusRecords|length %}
				{% if numrecs == 0 %}
					<h2>No results match search criteria!</h2>
				{% else %}
					<h2>Search Results</h2>
					Number of records found: {{ numrecs }}
					<p></p>
					<table border = 1>
						<tr>
							<td>Customer ID</td><td>Fist Name</td><td>Last Name</td><td>State</td><td>Sales Year to Date</td><td>Sales Previously</td>
						</tr>
						{% for customer in cusRecords %}
							<tr>
								<td>{{ customer['cusId'] }}</td><td>{{ customer['cusFname'] }}</td><td>{{ customer['cusLname'] }}</td><td>{{ customer['cusState'] }}</td><td>{{ customer['cusSalesYTD'] }}</td><td>{{ customer['cusSalesPrev'] }}</td>
								<td><a href="/update/{{ customer['cusId'] }}">Edit</a> | <a href="/delete/{{ customer['cusId'] }}">Delete</a></td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			{% endif %}
		{% endif %}
		{% include 'footer.html' %}
	<body>
</html>
